@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

* {
  font-family: 'EB Garamond', serif;
  text-align: center;
  background-color: black;
  color: whitesmoke;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

h1 {
  width: 80%;
  margin: 20px auto;
  text-align: center;
  font-size: xx-large;
  padding: 10px 0px;
  border-bottom: 2px solid whitesmoke;
  border-top: 2px solid whitesmoke;
  border-radius: 10%;
  max-width: 416.5px;
}

h2 {
  font-size: x-large;
  padding: 20px 0px;
}

p {
  font-size: medium;
  margin: 0 auto;
  padding: 20px;
}

#container {
  width: 100%;
  border: 0;
  padding: 0px;
  height: 100%;
  position: absolute;
  border: 3px solid whitesmoke;
  box-sizing: border-box;
}
