@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Open+Sans&display=swap');

/* General element styles */
body {
  background: black;
  overflow-x: hidden;
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  color: white;
  text-align: center;
  border: 0;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 32px;
  width: 80%;
  max-width: 416.5px;
  border-top: 2px solid #f5f5f5;
  font-family: 'EB Garamond', serif;
  margin: 20px auto 10px;
  text-align: center;
  padding: 10px 0px;
  border-bottom: 2px solid #f5f5f5;
  border-radius: 10%;
}

h2 {
  font-size: 22px;
  width: 100%;
  margin: 10px auto 10px;
  max-width: 220px;
  border-bottom: 2px solid #f5f5f5;
  border-radius: 10%;
}

h3 {
  font-size: 20px;

}

p {
  font-size: 16px;
  margin: 0 auto;
  padding: 0px 20px 15px;
}

p em {
  font-weight: 800;
  font-style: italic;
}

a {
  text-decoration: none;
}

form {
  margin: 30px 0px 0px;
}

fieldset {
  border: none;
  height: 250px;
}

li {
  list-style-type: none;
}

/* End of General element styles */

/* Border Styling */

#border-outer {
  position: absolute;
}

#instructions-page {
  position: relative;
}

#border-outer, #instructions-page {
  border: 2px solid #000;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 5px;
  max-width: 950px;
  margin: 0 auto;
}

.border-inner {
  border: 2px solid #ffd700;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 5px;
}

#home-page,
#quiz-page,
#results-page,
#instructions-content-box {
  border: 2px solid #DC9104;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 5px;
}

/* End of Border Styling */

.hidden {
  display: none;
}

/* Quiz-Page Styling */
#current-question {
  margin: 10px auto 70px;
  padding-bottom: 5px;
  border: 2px solid #f5f5f5;
  border-radius: 0.25em;
}

#start-quiz-btn,
#instructions-btn {
  width: 60%;
  margin: 15px auto 15px;
  font-size: 20px;
  display: block;
  box-sizing: content-box;
}

.quiz-btn {
  color: #ffd700;
  background-color: #000000;
  margin-top: 10px;
  padding: 8px 10px;
  font-size: 20px;
  text-transform: uppercase;
  border: 3px solid #ffd700;
  border-radius: 10px;
  position: relative;
  transition: all 300ms linear;
}

.quiz-btn:hover,
#start-quiz-btn:hover {
  color: #000000;
  background-color: #ffd700;
}

/* Button styling adapted from https://codepen.io/ig_design/pen/dLNKgM Client Budget Section */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
}

.answer-option:checked+label,
.answer-option:not(:checked)+label {
  position: relative;
  display: inline-block;
  padding: 5px 2px;
  width: 100%;
  height: 35px;
  font-size: 16px;
  border: 3px solid gold;
  border-radius: 0.25em;
  overflow: hidden;
  cursor: pointer;
  transition: all 300ms linear;
}

.answer-option:not(:checked)+label {
  background-color: black;
}

.answer-option:not(:checked):hover+label:hover {
  color: black;
  background-color: gold;
}

.answer-option:checked+label::before,
.answer-option:not(:checked)+label::before,
.quiz-btn::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: gold;
  z-index: -1;
  transition: all 300ms linear;
}

.answer-option:checked+label span,
.answer-option:not(:checked)+label span {
  position: relative;
  display: block;
}

.answer-option:checked+label span::before,
.answer-option:not(:checked)+label span::before,
.quiz-btn::before {
  position: absolute;
  content: attr(data-hover);
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  color: black;
  -moz-transition: max-height 0.3s;
  transition: max-height 0.3s;

}

.answer-option:not(:checked)+label span::before,
.quiz-btn::before {
  max-height: 0;
}

.answer-option:checked+label span::before,
.quiz-btn::before {
  max-height: 100%;
}

/* End of Button styling adapted from https://codepen.io/ig_design/pen/dLNKgM Client Budget Section */

/* Results page styling */
#results-page h2,
#results-page h3 {
  display: block;
  width: 100%;
  letter-spacing: 1px;
  border: none;
}

.results-image {
  height: 220px;
  width: 256px;
  margin: auto;
}

#gryffindor-image {
  background: url(../images/mobile-320-gryffindor-result.png) no-repeat center top;
  overflow: hidden;
}

#ravenclaw-image {
  background: url(../images/mobile-320-ravenclaw-result.png) no-repeat center top;
  overflow: hidden;
}

#hufflepuff-image {
  background: url(../images/mobile-320-hufflepuff-result.png) no-repeat center top;
  overflow: hidden;
}

#slytherin-image {
  background: url(../images/mobile-320-slytherin-result.png) no-repeat center top;
  overflow: hidden;
}

/* Instructions Page Styling */
#instructions-page h2 {
  font-size: 32px;
}

#instructions-page p {
  font-size: 18px;
  border-top: 2px solid #ffd700;
  border-bottom: 2px solid #ffd700;
  border-radius: .25em;
  width: 100%;
  max-width: 220px;
  box-sizing: border-box;
  margin-top: 10px;
}

#instructions-page ul {
  width: 90%;
  margin: 0 auto;
  padding: 0px 5px;
}

#instructions-page li {
  margin-top: 5px;
  text-align: center;
  border-bottom: 2px solid #ffd700;
  padding: 5px 0px 10px;
}

/* End of Instructions Page Styling */

/* Media Queries */

@media screen and (min-width: 481px) {

  #main-title {
    margin: 30px auto 30px;
    ;
  }

  #main-subtitle {
    margin: 20px auto 40px;
  }

  .results-image {
    height: 330px;
    width: 385px;
    margin: auto;
  }

  #gryffindor-image {
    background: url(../images/mobile-481-gryffindor-result.png) no-repeat center top;
    overflow: hidden;
  }

  #ravenclaw-image {
    background: url(../images/mobile-481-ravenclaw-result.png) no-repeat center top;
    overflow: hidden;
  }

  #hufflepuff-image {
    background: url(../images/mobile-481-hufflepuff-result.png) no-repeat center top;
    overflow: hidden;
  }

  #slytherin-image {
    background: url(../images/mobile-481-slytherin-result.png) no-repeat center top;
    overflow: hidden;
  }
}

@media screen and (min-width: 769px) {
  .results-image {
    height: 450px;
    width: 615px;
    margin: auto;
  }

  #gryffindor-image {
    background: url(../images/tablet-769-gryffindor-result.png) no-repeat center top;
    overflow: hidden;
  }

  #ravenclaw-image {
    background: url(../images/tablet-769-ravenclaw-result.png) no-repeat center top;
    overflow: hidden;
  }

  #hufflepuff-image {
    background: url(../images/tablet-769-hufflepuff-result.png) no-repeat center top;
    overflow: hidden;
  }

  #slytherin-image {
    background: url(../images/tablet-769-slytherin-result.png) no-repeat center top;
    overflow: hidden;
  }

  .main-menu-btn {
    margin: 40px auto 0px;
  }
}